################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleImageViewer/bin
/SimpleImageViewer/obj
/SimpleImageViewer/obj
/SimpleImageViewer/obj
/SimpleImageViewer/obj/Debug
/SimpleImageViewer/obj/Release/View/SettingsWindow.g.i.cs
/SimpleImageViewer/obj/Release/View/SettingsWindow.g.cs
/SimpleImageViewer/obj/Release/View/SettingsWindow.baml
/SimpleImageViewer/obj/Release/View/ImageViewerWindow.g.i.cs
/SimpleImageViewer/obj/Release/View/ImageViewerWindow.g.cs
/SimpleImageViewer/obj/Release/View/ImageViewerWindow.baml
/SimpleImageViewer/obj/Release/View/AboutWindow.g.i.cs
/SimpleImageViewer/obj/Release/View/AboutWindow.g.cs
/SimpleImageViewer/obj/Release/View/AboutWindow.baml
/SimpleImageViewer/obj/Release/View
/SimpleImageViewer/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/SimpleImageViewer/obj/Release/TempPE
/SimpleImageViewer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SimpleImageViewer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SimpleImageViewer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SimpleImageViewer/obj/Release/SimpleImageViewer_MarkupCompile.lref
/SimpleImageViewer/obj/Release/SimpleImageViewer_MarkupCompile.i.lref
/SimpleImageViewer/obj/Release/SimpleImageViewer_MarkupCompile.i.cache
/SimpleImageViewer/obj/Release/SimpleImageViewer_MarkupCompile.cache
/SimpleImageViewer/obj/Release/SimpleImageViewer.Properties.Resources.resources
/SimpleImageViewer/obj/Release/SimpleImageViewer.pdb
/SimpleImageViewer/obj/Release/SimpleImageViewer.g.resources
/SimpleImageViewer/obj/Release/SimpleImageViewer.exe
/SimpleImageViewer/obj/Release/SimpleImageViewer.csprojResolveAssemblyReference.cache
/SimpleImageViewer/obj/Release/SimpleImageViewer.csproj.GenerateResource.Cache
/SimpleImageViewer/obj/Release/SimpleImageViewer.csproj.FileListAbsolute.txt
/SimpleImageViewer/obj/Release/GeneratedInternalTypeHelper.g.i.cs
/SimpleImageViewer/obj/Release/GeneratedInternalTypeHelper.g.cs
/SimpleImageViewer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SimpleImageViewer/obj/Release/DesignTimeResolveAssemblyReferences.cache
/SimpleImageViewer/obj/Release/CoreCompileInputs.cache
/SimpleImageViewer/obj/Release/App.g.i.cs
/SimpleImageViewer/obj/Release/App.g.cs
/SimpleImageViewer/obj/Release
/SimpleImageViewer/obj/Debug/View/SettingsWindow.g.i.cs
/SimpleImageViewer/obj/Debug/View/SettingsWindow.g.cs
/SimpleImageViewer/obj/Debug/View/ImageViewerWindow.g.i.cs
/SimpleImageViewer/obj/Debug/View/ImageViewerWindow.g.cs
/SimpleImageViewer/obj/Debug/View/AboutWindow.g.cs
/SimpleImageViewer/obj/Debug/View
/SimpleImageViewer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SimpleImageViewer/obj/Debug/TempPE
/SimpleImageViewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SimpleImageViewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SimpleImageViewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SimpleImageViewer/obj/Debug/SimpleImageViewer_MarkupCompile.lref
/SimpleImageViewer/obj/Debug/SimpleImageViewer_MarkupCompile.i.lref
/SimpleImageViewer/obj/Debug/SimpleImageViewer_MarkupCompile.i.cache
/SimpleImageViewer/obj/Debug/SimpleImageViewer_MarkupCompile.cache
/SimpleImageViewer/obj/Debug/SimpleImageViewer.Properties.Resources.resources
/SimpleImageViewer/obj/Debug/SimpleImageViewer.pdb
/SimpleImageViewer/obj/Debug/SimpleImageViewer.g.resources
/SimpleImageViewer/obj/Debug/SimpleImageViewer.exe
/SimpleImageViewer/obj/Debug/SimpleImageViewer.csprojResolveAssemblyReference.cache
/SimpleImageViewer/obj/Debug/SimpleImageViewer.csproj.GenerateResource.Cache
/SimpleImageViewer/obj/Debug/SimpleImageViewer.csproj.FileListAbsolute.txt
/SimpleImageViewer/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/SimpleImageViewer/obj/Debug/GeneratedInternalTypeHelper.g.cs
/SimpleImageViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SimpleImageViewer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SimpleImageViewer/obj/Debug/CoreCompileInputs.cache
/SimpleImageViewer/obj/Debug/App.g.i.cs
/SimpleImageViewer/obj/Debug/App.g.cs
/SimpleImageViewer/obj/Debug
/SimpleImageViewer/obj
/SimpleImageViewer/obj
